# Linear
export LINEAR_API_KEY="lin_api_123456"
export LINEAR_USER_ID="uuid goes here"
export LINEAR_DEFAULT_TEAM_ID="uuid goes here"
export LINEAR_DEFAULT_PROJECT_ID="uuid goes here"

# Logging
export LOG_TO_SEQ=false
export LOG_TO_LOCAL_FILE=false

# Git
export ISSUE_BRANCH_PREFIX="linearname/vit"

# AWS
export AWS_APPS_IDENTIFIER="d-123456789"
