# Secrets do not go in here.  They go in ~/.secrets.local

# Linear
export LINEAR_USER_ID="uuid goes here"
export LINEAR_DEFAULT_TEAM_ID="uuid goes here"
export LINEAR_DEFAULT_PROJECT_ID="uuid goes here"

# ClickUp
export CLICKUP_DEFAULT_LIST_ID="12345678"
export CLICKUP_USER_ID="12345678"
export CLICKUP_TEAM_PLATFORM_FOLDER_ID="12345678"

# Github
export GITHUB_DEFAULT_PR_REVIEWER="github-org/team-name"

# Logging
export LOG_TO_SEQ=false
export LOG_TO_LOCAL_FILE=false

# Git
export ISSUE_BRANCH_PREFIX="linearname/vit"
